* text=auto eol=lf

# binaries
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.mp3 binary
*.ogg binary
*.wav binary
*.zip binary
*.pez binary
*.bin binary
*.bmp binary
*.ico binary